.extension{
    padding-top: 50px;
    padding-bottom: 100px;
}
.extension .paragraph{
    max-width: 536px;
}
.cards_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.card{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    max-width: 286px;
    box-shadow: 0 5px 10px 0px rgb(0, 0 ,0,  0.10);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.card:nth-child(2){
    top: 50px;
}
.card:last-child{
    top: 100px;
}
@media screen and (max-width:1042px) {
    .card:nth-child(2),.card:last-child{
        top: unset;
    }
    .extension{
        padding-bottom: 50px;
    }
}
.card .logo{
    margin-bottom: 25px;
}
.card h3{
    font-weight: 500;
    margin-bottom: 15px;
}
.card p{
    color: var(--Grayish-Blue);
    margin-bottom: 25px;
}
.card .dots{
    margin-bottom: 25px;
}
.card .card_btn{
    padding: 13px 30px;

}