.contact{
    background: var(--Soft-Blue);
    padding: 50px 0;
    color: #fff;
}
.contact .wrapper{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h3{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
}
.contact p {
    font-size: 27px;
    text-align: center;
    margin-bottom: 30px;
}
.contact form{
    display: flex;
    gap: 20px;
    width: 100%;
}
.contact .left_in_form{
    display: flex;
    flex: 1;
}
.contact input{
    outline: none;
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    border-color: transparent;
    border-radius: 5px;
}
.contact .right_in_form .btn{
    width:-webkit-fill-available;
}
@media screen and (max-width:420px) {
    .contact form{
        flex-direction: column;
    }
    .contact form .left_in_form input{
        padding: 10px;
    }
}