.mobile_list_container{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(229, 31%, 21%, 0.9);
    z-index: 2;
    gap: 0;
}
.mobile_list{
    text-align: center;
    width: 90%;
    padding: 20px 0;
    border-top: 1px solid var(--Grayish-Blue);
    margin: 0 auto;
}
.mobile_list a{
    font-size: 30px;
    color: #fff;
}
li.mobile_list:nth-child(3){
    border-bottom: 1px solid var(--Grayish-Blue);
    margin-bottom: 30px;
}
.mobile_login_btn{
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    padding: 13px 0;
    font-size: 25px;
}
.mobile_list:hover, .mobile_list:hover a{
    color: #fff;
}
.mobile_login_btn:hover{
    box-shadow: none;
}
.social{
    display: flex;
    gap: 40px;
    position: absolute;
    top: 90vh;
    width: 100%;
    justify-content: center;
}