.hide{
    display: none;
}
.hidden{
    overflow: hidden;
}
.navbar{
    padding: 45px 0;
}
.navbar .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    z-index: 3;
}
.logo img{
    display: block;
}
.list_container{
    display: flex;
    align-items: center;
    gap: 35px;
}
a{
    color: var(--Grayish-Blue);
    text-decoration: none;
    text-transform: uppercase;
}
.list:hover a,.list:hover{
    color: var(--Soft-Red);
}
.login_btn{
    color: #fff;
    background: var(--Soft-Red);
    border: 2px solid var(--Soft-Red);
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.login_btn{
    color: #ffF;
}
.login_btn:hover{
    background: transparent;
    box-shadow: 0px 1px 3px var(--Soft-Red)
}
.hamburger{
    display: none;
    z-index: 3;
}

@media screen and (max-width:768px) {
    .list_container{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .set_first_path{
        fill: #fff;
    }
    .set_second_path{
        fill:hsla(229, 31%, 21%);
    }
    .set_circle{
        fill: #fff;
    }
}
