.intro{
    padding: 50px 0;
}
.intro .wrapper{
    display: flex;
    gap: 50px;
}
.intro .wrapper > * {
    flex-basis: 50%;
}
.intro .wrapper .right{
    position: relative;
}
.intro .wrapper .right img{
    width: 100%;
}
.draw{
    position: absolute;
    height: 80%;
    background-color: hsl(231, 69%, 60%);
    z-index: -1;
    width: 120vw;
    border-radius: 20rem;
    left: 25%;
    bottom: 0;
}
.intro .wrapper .left{
    padding: 30px 0;
}
.intro .wrapper .left h2{
    color: var(--Very-Dark-Blue);
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 30px;
}
.intro .wrapper .left p{
    color: var(--Grayish-Blue);
    line-height: 1.5;
    margin-bottom: 30px;
}
.intro .wrapper .left .buttons{
    display: flex;
    gap: 15px;
}

.firefox_btn{
    background: #F7F7F7;
    color: #565660;
}
.firefox_btn:hover{

    color: #5A5A63;
    border-color: #5A5A63;
}
@media screen and (min-width:1001px) and (max-width:1043px)  {
    .intro .wrapper .left h2{
        font-size: 45px;
    }
}
@media screen and (max-width:1000px) {
    .intro{
        text-align: center;
    }
    .intro .wrapper{
        flex-direction: column;
    }
    .right{
        order: -1;
    }
    .buttons{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:511px) {
    .intro .wrapper .left h2{
        font-size: 40px;
    }
}
@media screen and (max-width:428px) {
    .intro .wrapper .left h2{
        font-size: 30px;
    }
}
@media screen and (max-width:326px) {
    .intro .wrapper .left h2{
        font-size: 25px;
    }
}