*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: var(--font-size);
}
.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.heading{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
}
.paragraph{
    text-align: center;
    max-width: 470px;
    margin: 0 auto;
    color: var(--Grayish-Blue);
    margin-bottom: 30px;
}
.btn{
    font-size: 14px;
    cursor: pointer;
    padding: 13px 20px;
    border: 2px solid transparent;
    box-shadow: 0 2px 3px 1px rgb(0, 0, 0 ,0.10);
    border-radius: 5px;
    font-weight: 500;
}
.btn:hover{
    background: transparent;
}
.blue_btn{
    background: var(--Soft-Blue);
    color: #fff;
}
.blue_btn:hover{
    color: var(--Soft-Blue);
    border-color: var(--Soft-Blue);
}
